<div class="page-wrapper">
    <section class="section1">
        <div>
            <h1 class="title">ABOUT US</h1>
            <div class="content-wrapper">
                <div class="img-wrapper">
                    <div class="img">
                        <img src="../../assets/images/nit_logo.png" alt="SMS" width="100%" height="95%">
                        </div>
                </div>
                <div class="text-wrapper">
                    <p class="text">This DAPP was built by Naiyer Abbas and Mohammad Haseeb. We are students of the National Institute of Technology, Srinagar. This was part of our B-tech Project. We have built this DAPP under the supervision of Dr Iqra Altaf Gillani.
                    </p>
                    <p class="text">We were concerned about the current market of saffron in Kashmir as it does not offer any protection
                        against adulteration, lacks a proper network, does not provide any check on prices and does not provide any transparency.
                    </p>
                    <p class="text">But with the immutable and decentralized nature of blockchain, we have
                        ensured proper verification at every step to control the adulteration at different stages of the supply
                        chain. Moreover, there is no centralisation during the verification of saffron which makes it free
                        of any central authority. 
                    </p>
                    <div class="btn-wrapper">
                        <a href="#" class="btn">
                            <span>More</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section2"></section>
</div>