.alert-wrapper {
    height: 100px;
}

.form-control {
    width: 100%;
}

form {
    margin-bottom: 20px;
    max-width: 360px;
    margin: auto;
}


/* button {
    margin: auto;
    width: 100%;
} */

::ng-deep .table {
    margin-top: 25px;
}

@media only screen and (max-width: 1200px) {
     ::ng-deep .table {
        display: flex;
    }
     ::ng-deep tr {
        display: grid;
    }
}