.app-wrapper {
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    width: 100vw;
    overflow: hidden;
}

.app-footer {
    /* min-height: 15vh; */
    background: #212529;
}

::ng-deep router-outlet+* {
    /* height: 77vh; */
    min-height: 75vh;
    overflow: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media only screen and (max-width: 768px) {
     ::ng-deep router-outlet+* {
        overflow: scroll;
    }
}

.nav-bar {
    height: 10vh;
    width: 100vw;
    display: flex;
    padding: 0 10%;
}