<div class="slideshow-container">

    <div class="mySlides fader">
        <div class="numbertext">1 / 3</div>
        <img src="../../assets/images/saffron-1.jpeg" style="width:100%">
        <div class="text">Blockchain for saffron <br> supply chain solutions</div>
    </div>

    <div class="mySlides fader">
        <div class="numbertext">2 / 3</div>
        <img src="../../assets/images/saffron-1.jpeg" style="width:100%">
        <div class="text">Blockchain for saffron <br> supply chain solutions</div>
    </div>

    <div class="mySlides fader">
        <div class="numbertext">3 / 3</div>
        <img src="../../assets/images/saffron-1.jpeg" style="width:100%">
        <div class="text">
            Blockchain for saffron <br> supply chain solutions
            <br>
            <span class="sub-heading">Resolve issues faster. Build trust and stronger relationships. Businesses are strengthening supply chain networks with IBM Blockchain.
            </span>
        </div>
    </div>
    <a class="prev" (click)="plusSlides(-1)">❮</a>
    <a class="next" (click)="plusSlides(1)">❯</a>


    <div style="text-align:center">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>
</div>
<!-- <nav class="navbar">
    <div class="container">
        <h1 class="logo">Phono</h1>
        <ul class="nav">
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#specs">Specs</a></li>
      <li><a href="#contact">Contact</a></li>
        </ul>
    </div>
</nav> -->

<!-- Showcase -->
<section class="section-a">
    <div class="container">
        <div>
            <h1>The technology of the future.</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo repudiandae rerum libero ipsum asperiores omnis mollitia, nostrum commodi placeat ea itaque modi corrupti corporis nam voluptas aut reprehenderit eaque culpa.
            </p>
            <a href="#" class="btn">Read More</a>
        </div>
        <img src="https://i.ibb.co/37Y74kv/showcase.jpg" alt="" />
    </div>
</section>